@import '../../../../assets/styles/palette';
@import '../../../../assets/styles/adaptive';

.form {
	width:           100%;
	display:         flex;
	justify-content: center;
	flex-flow:       column;
	background:      $black;
	align-items:     center;
}

.inputBox {
	display:    flex;
	gap:        16px;
	margin-top: 30px;
	flex-wrap:  wrap;
}

.input {
	border:        none;
	outline:       none;
	padding:       15px;
	font-weight:   400;
	font-size:     16px;
	line-height:   1.18;
	color:         $black;
	background:    $platinum;
	box-shadow:    2px 4px 10px rgba(0, 0, 0, .1);
	border-radius: 10px;
	display:       block;
	width:         100%;

	&::placeholder {
		color: $placeholder;
	}
}

.error {
	color:      red;
	margin-top: 4px;
	display:    none;

	&Visible {
		display: block;
	}
}

.success {
	color:      $success-msg;
	margin-top: 4px;
	display:    none;

	&Visible {
		display: block;
	}
}

.btn {
	display:          block;
	padding:          10px 20px;
	color:            $white;
	font-weight:      bold;
	text-decoration:  none;
	background-color: $primary;
	border-radius:    5px;
	transition:       background-color .3s ease;
	cursor:           pointer;
	margin-top:       34px;
	width:            max-content;
	max-width:        380px;

	@include mobile {
		width: 100%;
	}

	&:hover {
		background-color: darken($primary, 10%);
	}

	&:active {
		background-color: darken($primary, 20%);
	}

	&:focus {
		outline: none;
	}

	&[disabled] {
		opacity: 0.5;
		cursor:  not-allowed;
	}
}
