@import '../../../assets/styles/palette';
@import '../../../assets/styles/adaptive';

.offer {
	background-color: $black;
	padding-top:      50px;
	position:         relative;
	overflow:         hidden;

	@include tablet {
		padding-top: 44px;
	}
}

.title {
	font-size:   36px;
	line-height: 1.15;
	color:       $primary;
	max-width:   728px;
	position:    relative;
	z-index:     2;
	font-family: var(--font-russo), var(--font-inter), sans-serif;

	@include tablet {
		text-align: center;
		max-width:  100%;
		padding:    0 33px;
	}

	@include mobile {
		font-size: 30px;
	}

	&Color {
		&_primary {
			color: $primary;
		}
	}
}

.description {
	font-weight:    500;
	font-size:      24px;
	line-height:    1.20;
	letter-spacing: 0.01em;
	color:          $white;
	margin-top:     24px;
	max-width:      632px;
	position:       relative;
	z-index:        2;

	@include tablet {
		text-align: center;
		max-width:  100%;
		padding:    0 20px;
		font-size:  20px;
	}
}

.list {
	display:     flex;
	align-items: center;
	gap:         25px;
	margin-top:  40px;
	max-width:   670px;
	position:    relative;
	z-index:     2;

	@include tablet {
		flex-flow: column;
		max-width: unset;
	}
}

.item {
	font-weight: 400;
	font-size:   18px;
	line-height: 22px;
	color:       $primary;
	display:     flex;
	align-items: center;
	gap:         0 12px;
	width:       100%;

	@include tablet {
		max-width: 219px;
	}
}

.buttons {
	display:    flex;
	gap:        24px;
	flex-flow:  wrap;
	margin-top: 46px;

	@include tablet {
		margin:          32px auto 0;
		justify-content: center;
		flex-flow:       column;
		align-items:     center;
	}
}

.icon {
	width:           47px;
	height:          47px;
	display:         flex;
	align-items:     center;
	justify-content: center;

	&Type {
		&Roulete {
			&:before {
				content: url('../../../assets/images/offer/offer-roulete.webp');
			}
		}

		&Speed {
			&:before {
				content: url('../../../assets/images/offer/offer-speed.webp');
			}
		}

		&Discount {
			&:before {
				content: url('../../../assets/images/offer/offer-discount.webp');
			}
		}
	}
}

.btn {
	display: block;
}

.bottomEffect {
	width:      100%;
	height:     180px;
	background: url('../../../assets/images/offer/offer-bottom-effect.webp');

	@include tablet {
		margin-top: -210px;
	}
}

.stationBox {
	width:           1025px;
	height:          830px;
	background:      url('../../../assets/images/offer/circles.svg') center center no-repeat;
	background-size: 709px 711px;
	position:        absolute;
	top:             0;
	right:           -186px;
	pointer-events:  none;

	@include tablet {
		width:           unset;
		height:          unset;
		background-size: 487px 489px;
		position:        static;
		display:         flex;
		align-items:     center;
		justify-content: center;
		padding-top:     40px;
	}
}

.img {
	position: relative;
	top:      90px;
	left:     320px;

	@include tablet {
		max-width:  487px;
		max-height: 489px;
		top:        -20px;
		left:       40px;
		width:      100%;
		height:     100%;
		margin:     0 auto;
	}
}

.imgPn {
	position: relative;
	top:      -56px;
	left:     90px;

	@media screen and (min-width: $end-tablet-point) and (max-width: 1220px) {
		top:    125px;
		left:   265px;
		width:  500px;
		height: auto;
	}

	@include tablet {
		max-width:  487px;
		max-height: 489px;
		top:        -84px;
		left:       0;
		width:      100%;
		height:     100%;
		margin:     0 auto;
	}
}

.tgLink {
	color:           #fff;
	text-decoration: underline;
	display:         inline-flex;
	align-items:     center;
	gap:             4px;
}

.tg {
	position: relative;
	top:      2px;
}
