@import '../../../assets/styles/palette';
@import '../../../assets/styles/adaptive';

.header {
	width:            100%;
	background-color: $black;
	padding:          14px 0 0;
}

.wrapper {
	display:         flex;
	justify-content: space-between;
	align-items:     center;

	@media screen and (max-width: 1200px) {
		padding: 0 20px;
	}

	@include tablet {
		padding: 0 20px;
	}
}

.socials {
	@include mobile {
		display: none;
	}
}

.menu {
	margin-top: 15px;

	@media screen and (max-width: 1100px) {
		padding: 11px 20px;
	}

	@include mobile {
		display: none;
	}
}

.numberBox {
	display:     flex;
	align-items: center;
	gap:         10px 20px;

	@include tablet {
		flex-flow: column;
	}

	@include mobile {
		display: none;
	}
}

.number {
	font-weight: 600;
	font-size:   24px;
	line-height: 29px;
	display:     block;
	color:       $white;
}

.mobileNumberBox {
	display:        flex;
	flex-direction: column;
	align-items:    flex-end;
	align-self:     flex-start;
	gap:            23px 0;
}

.mobileNumber {
	font-weight:     600;
	font-size:       16px;
	line-height:     24px;
	color:           $white;
	display:         none;
	align-items:     center;
	gap:             0 5px;
	justify-content: center;

	@include mobile {
		display: flex;
	}

	&:before {
		content: url('../../../assets/images/header/phone.svg');
		display: block;
		width:   18px;
		height:  18px;
	}
}

.available {
	display:     flex;
	gap:         0 8px;
	font-weight: 400;
	font-size:   14px;
	line-height: 17px;
	color:       $white;
	text-align:  center;

	&:before {
		content: url('../../../assets/images/header/online.svg');
		width:   20px;
		height:  20px;
		display: block;
	}
}

.burger {
	content: url('../../../assets/images/header/burger.svg');
	display: none;
	width:   50px;
	height:  24px;
	cursor:  pointer;

	@include mobile {
		display: block;
	}
}
