@import '../../../assets/styles/adaptive';
@import '../../../assets/styles/palette';

.reviews {
	background-color: $black;
	padding:          110px 0 60px;
}

.title {
	font-weight: 700;
	font-size:   45px;
	line-height: 1.15;
	color:       $white;

	@include mobile {
		font-size: 26px;
	}
}

.btnLink {
	color:      white;
	margin:     0 10px 20px;
	text-align: center;
}

.titleLink {
	text-decoration: underline;
	color:           white;
}

.image {
	object-fit: contain;
}

.list {
	display:               grid;
	grid-template-columns: repeat(2, minmax(320px, 580px));
	gap:                   40px 60px;
	justify-content:       center;
	justify-items:         stretch;
	margin-top:            40px;
	align-items:           center;

	@media screen and (max-width: 1240px) {
		grid-template-columns: 1fr;
		justify-items:         center;
	}
}

.item {
	display:        flex;
	flex-direction: column;
	align-items:    center;
	width:          100%;
	min-height:     520px;
	background:     #fff;
	border-radius:  20px;
}

.link {
	display:         flex;
	align-items:     center;
	justify-content: center;
	width:           100%;
	flex:            1 1 auto;
}

.image {
	max-width:  100%;
	max-height: 100%;
	height:     auto;
	width:      auto;
}

.text {
	margin-top: auto;
	width:      100%;
}

.paragraph {
	color:       white;
	text-align:  center;
	margin-top:  60px;
	font-size:   32px;
	font-weight: 700;
}
