@import '../../../assets/styles/adaptive';
@import '../../../assets/styles/palette';

.faqSection {
	color:      #000;
	background: linear-gradient(180deg, #ffb000 0%, #ffb000 10%, #000 60%, #000 100%);
	width:      100%;
	padding:    60px 0;
}

.title {
	font-size:     45px;
	font-weight:   700;
	margin-bottom: 30px;
	color:         white;

	@include tablet {
		font-size: 26px;
	}
}

.faqList {
	display:        flex;
	flex-direction: column;
	gap:            10px;
	max-width:      800px;
	margin:         0 auto;
}

.faqItem {
	border-radius: 8px;
	overflow:      hidden;

	.question {
		width:           100%;
		padding:         16px 20px;
		background:      #ffb000; // акцент
		border:          none;
		outline:         none;
		display:         flex;
		justify-content: space-between;
		align-items:     center;
		font-weight:     600;
		font-size:       16px;
		cursor:          pointer;
		transition:      background 0.3s;

		&:hover {
			background: darken(#ffb000, 10%);
		}

		.icon {
			font-size: 20px;
		}
	}

	.answer {
		height:     0;
		overflow:   hidden;
		transition: height 0.4s ease;
		background: #fff;

		.answerContent {
			padding: 16px 20px;
		}
	}
}
